.link{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.link-1 {
  left: 0;
  width: 33.3%;
  border-right: 1px solid #161616;
}
.link-2 {
  left: 33.3%;
  width: 33.3%;
  border-right: 1px solid #161616;
}
.link-3 {
  left: 66.6%;
  width: 33.3%;
}
.link > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link > div > a {
  text-decoration: none;
}
.link > div > a > span {
  text-decoration: none;
  position: relative;
  z-index: 999;

  background: transparent;
  border: none;
  outline: none;
}


.overlay {
  position: absolute;
  z-index: 1;
  height: 40%;
  right: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.86) 100%, rgba(0, 0, 0, 1)100%), url("https://test.plotkinruslan.com/assets/img/noise.gif");
}


.is-active {
  pointer-events: none;
  cursor: default;
}
.active-work {
  pointer-events: all !important;
  cursor: auto !important;
}
.bordered {
  color: transparent !important;
  transition: ease all 500ms;
  -webkit-text-stroke: 1px whitesmoke !important;
}





a {
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #423c2b;
  outline: none;
}


/* Common styles for the menus */
.menu {
  position: relative;
  z-index: 10;
}
.menu-item {
  line-height: 1;
  position: relative;
  display: block;
  margin: 1em 0;
  outline: none;
}
.menu-item-name,
.menu-item-label {
  position: relative;
  display: inline-block;
}
.menu-item-name {
  font-size: 1.25em;
}
.menu-item-label {
  margin: 0 0 0 0.5em;
}




.menu-reveal .menu-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(30px + (50 - 20) * ((100vw - 320px)/ (1920 - 320)));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 0;
}
.menu-reveal .menu-item-name {
  font-weight: bold;
  overflow: hidden;
  padding: 0 0.25em;
  text-transform: uppercase;
  color: #fff;
}
.menu-reveal .menu-item-name::before,
.menu-reveal .menu-item-name::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c4eb0;
  transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.menu-reveal .menu-item:hover .menu-item-name::before {
  transform: translate3d(100%,0,0) translate3d(1px,0,0);
}
.menu-reveal .menu-item:hover .menu-item-name::after {
  transform: translate3d(0,0,0);
}
.menu-reveal .menu-item-name::after {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}




@media screen and (max-width: 700px) {
  .menu-reveal .menu-item {
    height: 100%;
    margin: 0;
  }
  .link-mobile {
    display: flex;
    flex-direction: column;
  }

  .link{
    position: fixed;
    height: 33.3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .link-1 {
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #000000;
  }
  .link-2 {
    left: 0;
    top: 33.3%;
    width: 100%;
    border-bottom: 1px solid #000000;
  }
  .link-3 {
    left: 0;
    top: 66.6%;
    width: 100%;
  }
}
