<!--<div class="wrapper-menu">-->
  <div class="link link-1" [@menuAnimation1]="state">
      <div class="menu menu--dustu">
        <a class="menu__item" (click)="isClicked();" routerLink="/home">
          <span class="menu__item-name">Home</span>
        </a>
      </div>
  </div>

  <div class="link link-2" [@menuAnimation2]="state">
      <div class="menu menu--dustu">
        <a class="menu__item" (click)="isClicked();" routerLink="/about">
          <span class="menu__item-name">About</span>
        </a>
      </div>
  </div>

  <div class="link link-3" [@menuAnimation3]="state">
      <div class="menu menu--dustu">
        <a class="menu__item" (click)="isClicked();" routerLink="/works">
          <span class="menu__item-name">Works</span>
        </a>
      </div>
  </div>
<!--</div>-->
