.viewport-overlay {
  position: relative;
  z-index: 10;
  width: 100%;
}

/*PROGRESS*/
.progress {
  height: 10px;
  width: 100%;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
}
#highlight {
  transition: width 1500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  background: #3c4eb0;
  height: 100%;
  width: 0%;
}



.scroll-progress {
  position: fixed;
  font-size: calc(300px + (600 - 100) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  line-height: 0%;
  display: flex;
  bottom: -10%;
  -webkit-text-stroke: 3px #0d0d0d;
  -webkit-text-fill-color: transparent;
}
.content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 150px;
}

.wrapper-bio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  top: 100px;
}

.img-wrap {
  pointer-events: none;
  width: 400px;
  height: 500px;
  background: ghostwhite;
}



.square0 {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  margin-top: 10%;
  color: whitesmoke;
  background: linear-gradient( rgba(0, 0, 0, 0.96) 100%, rgba(0, 0, 0, 1)100%), url("https://plotkinruslan.com/assets/img/noise.gif");
  box-shadow:  12px 12px 20px #080808,
  -12px -12px 20px transparent;
}


.text {
  width: 100%;
  position: relative;
  max-width: 600px;
  height: 100%;
  max-height: 700px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text > p, .text > span {
  margin: 0;
  padding: 50px 0 10px 0;
  font-size: calc(16px + (18 - 10) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/*EXPERIENCE*/
.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 200px;
  width: 100%;
  max-width: 1200px;
  /*transform-origin: center;*/
}
.word-experience > h1 {
  font-size: calc(45px + (300 - 100) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  line-height: 20%;
  display: flex;
  color: whitesmoke;
  margin-top: 100px;
}

.skills {
  height: auto;
  display: flex;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  justify-content: space-around;
  position: relative;
}
.skills > ul {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}
.skills > ul > li {
  font-size: calc(16px + (30 - 20) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 200%;
  color: whitesmoke;
  list-style: none;
}

.square {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  right: 15%;
  top: 0;
  position: absolute;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.96) 100%, rgba(0, 0, 0, 1)100%), url("https://plotkinruslan.com/assets/img/noise.gif");
  box-shadow:  12px 12px 20px #080808,
  -12px -12px 20px transparent;
}




/*EDUCATION*/
.education {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 200px;
  width: 100%;
  max-width: 1200px;
}
.word-education > h1 {
  font-size: calc(45px + (300 - 100) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  line-height: 20%;
  color: whitesmoke;
  display: flex;
  margin-top: 100px;
  text-align: right;
}
.knowledge {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.square2 {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  left: 15%;
  top: 0;
  position: absolute;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.96) 100%, rgba(0, 0, 0, 1)100%), url("https://plotkinruslan.com/assets/img/noise.gif");
  box-shadow:  12px 12px 20px #080808,
  -12px -12px 20px transparent;
}
.knowledge > .p1,
.knowledge > .p2,
.knowledge > .p3 {
  font-size: calc(16px + (30 - 20) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 200%;
  color: whitesmoke;
}





/*INTERESTS*/
.interests {
  width: 100%;
  /*background: #d35400;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  top: 200px;
  max-width: 1200px;
}

.word-interests > h1 {
  font-size: calc(45px + (300 - 100) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  line-height: 20%;
  display: flex;
  color: whitesmoke;
  text-align: left;
  margin-top: 100px;
}
.wrapper-hobbies {
  display: flex;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  justify-content: space-around;
}
.hobbies {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
}
.hobbies > div ul {
  font-size: calc(16px + (30 - 20) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 200%;
  color: whitesmoke;
  list-style: none;
}
.square3 {
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 400px;
  position: absolute;
  right: 50px;
  margin-top: -300px;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.96) 100%, rgba(0, 0, 0, 1)100%), url("https://plotkinruslan.com/assets/img/noise.gif");
  box-shadow:  12px 12px 20px #080808,
  -12px -12px 20px transparent;
}




.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  top: 200px;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}
.word-contact > h1 {
  font-size: calc(45px + (300 - 100) * ((100vw - 320px)/ (1920 - 320)));
  line-height: 20%;
  color: whitesmoke;
  text-align: left;
  display: flex;
  margin-top: 100px;
}
.content-contact {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: calc(16px + (30 - 20) * ((100vw - 320px)/ (1920 - 320)));
  font-weight: 100;
  padding-right: 20px;
}
.contact-me-wrapper {
  background: #eb2141;
  display: inline-flex;
  flex-direction: row;
  width: max-content;
}

.square4 {
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 400px;
  position: absolute;
  left: 100px;
  margin-top: -300px;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.96) 100%, rgba(0, 0, 0, 1)100%), url("https://plotkinruslan.com/assets/img/noise.gif");
  box-shadow:  12px 12px 20px #080808,
  -12px -12px 20px transparent;
}















a {
  display: block;
  color: white;
  text-decoration: none;
}
.download {
  display: block;
  position: relative;
  background: none;
  outline: none;
  padding: 20px 50px;
  font-size: .75em;
  letter-spacing: .35em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #3c4eb0;
  transition: all .2s ease;
}
.download:before, .download:after {
  content: 'DOWNLOAD CV';
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0;
  width: 100%;
  clip: rect(0px, 0px, 0px, 0px);
  background: #3c4eb0;
  color: #000;
}
.download:before {
  left: -3px;
  top: -2px;
  text-shadow: 2px 0 #fff;
  box-shadow: 2px 0 #fff;
}
.download:after {
  left: 2px;
  bottom: -2px;
  text-shadow: -1px 0 #fff;
  box-shadow: -1px 0 #fff;
}
.download:hover {
  background: #3c4eb0;
  color: black;
}
.download:hover:before {
  animation: glitch-test 1.5s infinite linear alternate-reverse;
}
.download:hover:after {
  -webkit-animation: glitch-test 2s infinite linear alternate;
  animation: glitch-test 2s infinite linear alternate;
}
@-webkit-keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}
@keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}











@media screen and (max-width: 700px) {
  .content {
    padding-bottom: 50px;
  }
  .wrapper-bio {
    flex-direction: column;
    align-items: center;
    top: 0;
  }
  .text {
    padding: 20px;
  }
  .experience {
    flex-direction: column;
    top: 0;
  }
  .word-experience > h1 {
    display: inline-flex;
  }

  .education {
    flex-direction: column-reverse;
    top: 0;
  }
  .word-education > h1 {
    display: inline-flex;
  }
  .knowledge {
    padding: 20px;
  }

  .interests {
    flex-direction: column;
    top: 0;
  }
  
  .word-interests > h1 {
    display: inline-flex;
  }

  .contact {
    flex-direction: column-reverse;
    top: 0;
  }
  .word-contact > h1 {
    display: inline-flex;
  }
  .content-contact {
    padding: 20px;
  }

}



