<div class="progress">
  <div class="progress_highlight" id="highlight"></div>
</div>


<div class="viewport-overlay">



    <div data-scroll id="scroll-container" class="scroll-container">
      <div data-scroll-content class="content" @transitionAnimation>

        <div class="wrapper-bio">

          <div class="img-wrap" id="img-wrap"></div>

          <div class="text" id="text">
            <p>
              Hey there, let me give you a short intro about myself.
              <br>My name is Ruslan, i live in Israel and make
              <br>UI / UX with Front-End development experience.
              <br>Iam passionate about what I am doing and love to spend a lot of time designing user interfaces, people often simply call them websites.
              <br>Getting involved in a process where I try to understand everything that is necessary, without missing important points. I am able to analyze and understand rapidly the needs and always try to make things simple and understandable , to ensure the best solution.
              <br>And I like minimalism).
            </p>
            <span>
                “The ability to simplify means to eliminate the unnecessary so that the necessary may speak.”
                <br>
                <small>"Hans Hoffmann"</small>
              </span>
          </div>

          <!-- <div class="square0 parralax"></div> -->

        </div>


        <div class="experience">
          <div class="word-experience">
            <h1>EXP</h1>
            <h1>ERIE</h1>
            <h1>NCE</h1>
          </div>
          <div class="skills">
            <ul>
              <li>Angular</li>
              <li>React</li>
              <li>NPM</li>
              <li>Git</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>CSS</li>
              <li>JQuery</li>
              <li>Figma</li>
            </ul>
            <ul>
              <li>Gulp</li>
              <li>THREE.js</li>
              <li>GSAP</li>
              <li>UI/UX</li>
              <li>Photoshop</li>
              <li>Illustrator</li>
              <li>Bootstrap </li>
              <li>Foundation </li>
              <li>Gtag</li>
            </ul>
          </div>

          <div class="square parralax">
            <h1 *ngIf="!isMobile">
             <span style="position: relative; left: -65px;">2015</span>
              <br> 
             <span style="position: relative; right: -65px;">2020</span>
            </h1>
          </div>
        </div>


        <div class="education">
          <div class="knowledge">
            <div class="p1">
              <p>Kiryat Technion, ISRAEL - 01-2013/08-2016</p>
              <p>National School of Engineers</p>
            </div>
            <div class="p2">
              <p>Training Center, ISRAEL - 04-2018/ 12-2018</p>
              <p>Tel Ran - Web Development Course</p>
            </div>
            <div class="p3">
              <p>Home, Coffee, laptop and lot of tutorials of course</p>
            </div>
          </div>
          <div class="word-education">
            <h1>EDU</h1>
            <h1>CAT</h1>
            <h1>ION</h1>
          </div>

          <div class="square2 parralax">
            <h1 *ngIf="!isMobile">
              <span style="position: relative; left: -65px;">2013</span>
               <br> 
              <span style="position: relative; right: -65px;">2020</span>
             </h1>
          </div>
        </div>


        <div class="interests">

          <div class="word-interests">
            <h1>INT</h1>
            <h1>ERE</h1>
            <h1>STS</h1>
          </div>

            <div class="hobbies">
                <ul>
                  <li>Movie</li>
                  <li>Travel</li>
                  <li>Animals</li>
                  <li>Music</li>
                  <li>Games</li>
                  <li>Art</li>
                </ul>

                <ul>
                  <li>Coffee</li>
                  <li>Snow</li>
                  <li>Technologies</li>
                  <li>Stand Up</li>
                  <li>Gym</li>
                  <li>Technologies</li>
                </ul>
            </div>

          <div class="square3 parralax">
            <h1 *ngIf="!isMobile">
              <span style="position: relative; left: -65px;">1997</span>
               <br> 
              <span style="position: relative; right: -65px;">2020</span>
             </h1>
          </div>
        </div>


        <div class="contact">

          <div class="content-contact">
            <p>
              I would love to become a part of a team, working together on interesting and cool projects. Share my experience, learn and expand my knowledge and most importantly - Enjoy it all.
              <br>
              You can contact me
              <br>
              <br>
              <span class="contact-me-wrapper">
                <a class="contact-me" href="mailto:plotkin1987@gmail.com">plotkin1987@gmail.com</a>
              </span>
              <br>
              <br>
              Also, if you are interested, you can download my CV.
            </p>


            <section>
              <span class="contact-me-wrapper">
                <a class="contact-me" href="./../../assets/img/cv.pdf" download="cv"> 
                    Download CV 
                 </a> 
                <a class="contact-me" href="#"></a>
              </span>
            </section>

          </div>
          <div class="word-contact">
            <h1>CON</h1>
            <h1>TAC</h1>
            <h1>TME</h1>
          </div>

          <div class="square4 parralax">
            <h1 *ngIf="!isMobile">
              <span style="position: relative; left: -65px;">@.com</span>
             </h1>
          </div>


        </div>

      </div>

    </div>

</div>
