  <div class="loader-wrapper" [@loadingAnimation]="loadingState">
    <div class="counter">
      <h5>Please, wait a while</h5>
      <p #sentence></p>
      <h1 #percentage>0%</h1>
      <div class="line-wrapper">
        <hr #line/>
      </div>
      <p></p>
    </div>
  </div>




<header class="text-intro">
  <span [@stateLine]="stateLine" class="left-line"></span>

    <h1 *ngIf="isLoaded"><span [@textAnimation1]="textState">Hi&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation1]="textState">my&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation1]="textState">name&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation1]="textState">is&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation1]="textState">Ruslan&nbsp;</span> </h1>

    <h1 *ngIf="isLoaded"><span [@textAnimation2]="textState">& i am&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation2]="textState">a UI/UX&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation2]="textState">Designer&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation2]="textState">with&nbsp;</span> </h1>

    <h1 *ngIf="isLoaded"><span [@textAnimation3]="textState">Front-End&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation3]="textState">Development&nbsp;</span> </h1>
    <h1 *ngIf="isLoaded"><span [@textAnimation3]="textState">skills&nbsp;</span> </h1>
  
</header>


<div id="container" [@stateImg]="state"></div>
