.wrapper {
  background: linear-gradient( rgba(13, 13, 13, 0.97) 100%, rgba(13, 13, 13, 0.97)100%), url("https://test.plotkinruslan.com/assets/img/noise.gif");
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  z-index: 10;
}

 #main-container {
  height: 100%;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
} 

.background-grid-line {
  position: fixed;
  height: 100%;
  z-index: 1;
}

.background-grid-line-1 {
  position: fixed;
  height: 100%;
  z-index: 1;
}
.background-grid-line-2 {
  position: fixed;
  height: 100%;
  left: 33.3%;
  width: 33.3%;
  z-index: 1;
  border-right: 1px solid #161616;
  border-left: 1px solid #161616;
}
.background-grid-line-3 {
  position: fixed;
  height: 100%;
  z-index: 1;;
}
