<div class="progress">
  <div class="progress_highlight" id="highlight"></div>
</div>




<div class="viewport-overlay">

  <div id="scroll-container" data-scroll class="scroll-container">
    <div class="content" data-scroll-content id="content" @transitionAnimation>

      <div *ngIf="isLoaded" id="wrapper-transition">


        <img id="tmp-image" class="tmp-image" src="../../../assets/img/work-1.jpg" alt="Work" />

        <div>
          <h2>{{work.title}}</h2>
          <p>{{work.desktop}}</p>
        </div>


        <div class="devices-wrapper">
          <img src="../../../assets/img/device-laptop.png" alt="Work" />

          <div class="technologies">
            <h3>Technologies</h3>
            <ul *ngFor="let t of work.technologies">
              <li>{{t}}</li>
            </ul>
          </div>

        </div>

<!--        <img src="../../../assets/img/work-1-mobile.jpg" alt="Work" />-->
        <div class="desktop-wrapper">

          <div class="fonts">
            <h3>Fonts</h3>
            <ul *ngFor="let f of work.fonts">
              <li class="font">{{f}}</li>
            </ul>
          </div>

          <img src="../../../assets/img/device-desktop.png" alt="Work" />
        </div>


        <h3>Colors</h3>
        <div class="colors">
          <div class="color" *ngFor="let c of work.colors" [ngStyle]="{'background': c}">{{c}}</div>
        </div>


        <div class="mobile-wrapper">
          <img src="../../../assets/img/device-phone.png" alt="Work" />
          <div>
            <a href="#">Visit Site</a>
            <a href="#">GitHub</a>
          </div>
        </div>

        <div class="next-work">
          <a (click)="nextWork()">NEXT PROJECT</a>
        </div>



      </div>


<!--       TODO show imgs by scroll on viewport-->
<!--      <div *ngFor="let image of imageCollection"-->
<!--           (deferLoad)="image.show = true"-->
<!--           style="height: 550px;">-->

<!--        <ng-container *ngIf="image.show">-->
<!--          <img [src]="image.url" style="height: 550px; width: 100%;"  />-->
<!--        </ng-container>-->
<!--      </div>-->


    </div>
  </div>
</div>

