.column{
  position: fixed;
  height: 100vh;
  z-index: 990;
}
.column-1 {
  left: 0;
  background: #4559c7;
}
.column-2 {
  left: 33.33333%;
  background: #4559c7;
}
.column-3 {
  left: 66.66666%;
  background: #4559c7;
}

.column-second-layer {
  position: fixed;
  height: 100vh;
  z-index: 991;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.94) 100%, rgba(0, 0, 0, 1)100%), url("https://test.plotkinruslan.com/assets/img/noise.gif");
}
.column-second-layer-1 {
  left: 0;
}
.column-second-layer-2 {
  left: 33.33333%;
}
.column-second-layer-3 {
  left: 66.66666%;
}






@media screen and (max-width: 700px) {
  .column{
    position: fixed;
    z-index: 990;
    height: 33.3vh
  }
  .column-1 {
    left: 0;
    top: 0;
    background: #4559c7;
  }
  .column-2 {
    top: 33.3vh;
    left: 0;
    background: #4559c7;
  }
  .column-3 {
    top: 66.6vh;
    left: 0;
    background: #4559c7;
  }
  
  .column-second-layer {
    position: fixed;
    z-index: 991;
    height: 33.3vh;
    background: linear-gradient( rgba(0, 0, 0, 0.90) 100%, rgba(0, 0, 0, 1)100%), url("https://test.plotkinruslan.com/assets/img/noise.gif");
  }
  .column-second-layer-1 {
    left: 0;
    top: 0;
  }
  .column-second-layer-2 {
    top: 33.3vh;
    left: 0;
  }
  .column-second-layer-3 {
    top: 66.6vh;
    left: 0;
  }
}