.container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 99;
}
a {
  outline: none;
  padding: 20px 100px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 30px;
  margin-top: 50px;
  /*text-decoration: none;*/
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.container span {
  font-size: calc(80px + (400 - 100) * ((100vw - 320px) / (1920 - 320)));
  color: whitesmoke;
  line-height: 80%;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  /*-webkit-text-stroke: 1px whitesmoke;*/
}
h1 {
  color: whitesmoke;
  text-transform: uppercase;
  line-height: 20%;
  font-size: calc(20px + (70 - 50) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}


.bordered {
  transition: ease all 500ms;
  color: transparent !important;
  -webkit-text-stroke: 1px whitesmoke !important;
}
.filled {
  transition: ease all 500ms;
  color: whitesmoke;
}




.content {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
}
.content__img {
	position: absolute;
	top: 0;
	left: 0;
  opacity: 0;
  width: 100%;
  max-width: 400px;
	will-change: transform;
	filter: none;
}

@media screen and (min-width: 53em) {
	.content {
		height: 100vh;
		overflow: hidden;
	}
}
