<div class="container-wrapper">

  <div class="content">
    <img class="content__img" src="../../assets/img/page404-1.jpg" alt="Some image" />
    <img class="content__img" src="../../assets/img/page404-2.jpg" alt="Some image" />
    <img class="content__img" src="../../assets/img/page404-3.jpg" alt="Some image" />
    <img class="content__img" src="../../assets/img/page404-4.jpg" alt="Some image" />
    <img class="content__img" src="../../assets/img/page404-5.jpg" alt="Some image" />
    <img class="content__img" src="../../assets/img/page404-6.jpg" alt="Some image" />
    <img class="content__img" src="../../assets/img/page404-7.jpg" alt="Some image" />
  </div>


  <div class="container">
    <span class="border-text">404</span>
    <h1 class="border-text">Page Not Found...</h1>
    <a id="back" routerLink="/">
      GO BACK
    </a>
  </div>
</div>



