
.viewport-overlay {
  position: fixed;
  z-index: 10;
  overflow-x:scroll;
  overflow-y:hidden;
  transform-origin: top left;
  width: 100%;
  height: 100vh;
}

.black-square {
  position: absolute;
  z-index: -1;
  left: 0;
  transform: translateX(100px);
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  height: 100%;
  background: #0d0d0d;
}


#planes {
  /* width of items * number of items */
  width: calc(100vw * 7);
  padding: 0 2.5vw;
  height: 100vh;
  display: flex;
  align-items: center;
  cursor: move;
}



/*PROGRESS*/
.progress {
  height: 10px;
  width: 100%;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
}
#highlight {
  transition: width 1500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  background: #3c4eb0;
  height: 100%;
  width: 0%;
}



.content {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.card {
  margin: 0 50px 0 50px;
  padding: 20px;
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  overflow: hidden;
  height: 70vh;
  max-height: 700px;
  display: flex;
}

/* disable pointer events and text selection during drag */
#planes.dragged .card {
  pointer-events: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.image {
  max-height: 550px;
}
.image > img {
  width: 100%;
  max-height: 600px;
}
#planes.dragged .card > .work >.image {
  pointer-events: none;
}
.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100vw / 1.05);
}
.counter {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 20px 0 0;
  height: 100%;
  max-height: 550px;
}
.counter > .id-number {
  font-size: calc(100px + (350 - 100) * ((100vw - 320px)/ (1920 - 320)));
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  z-index: 1;
  line-height: 60%;
  -webkit-text-stroke: 1px whitesmoke;
  text-transform: uppercase;
  color: white;
  transition: color 0.5s, opacity 0.5s;
}
#planes.dragged .counter > .id-number {
  color: transparent;
}
.counter > .id-number {
  opacity: 1;
}


.project {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 120%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

/*SVG*/
svg {
  width: 200px;
  height: 20px;
  fill:none;
  transform: translateX(-10px);
  stroke:#ffffff;
  stroke-width: 0.75;
  stroke-miterlimit:10;
}
/*SVG*/

.title {
  font-size: calc(20px + (20 - 10) * ((100vw - 320px)/ (1920 - 320)));
  line-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  right: 0;
  display: flex;
  z-index: 10;
  color: whitesmoke;
}
.link {
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
}
.counter > div > a {
  text-decoration: none;
}
.image {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}







/*HOVER LINK*/
.hover {
  text-decoration:none;
}
.hover:after {
  background-color: #3c4eb0;
  display: flex;
  content: "";
  height: 2px;
  margin-top: 10px;
  width: 0%;
  -webkit-transition: all 1000ms cubic-bezier(.94,.01,.06,1);
  -moz--transition: all 1000ms cubic-bezier(.94,.01,.06,1);
  transition: all 1000ms cubic-bezier(.94,.01,.06,1);
}
.hover:hover:after,
.hover:focus:after {
  width: 100%;
}
/*HOVER LINK*/
